<div class="clicable-icons">
    <div class="clicable-icon" (click)="getValue('farmer')" [ngClass]="{'active' : clickedValue === 'farmer'}">
        <img
            src="https://cdn1.iconfinder.com/data/icons/farming-filled-outline-1/512/Agriculture_farming_gardening_farmer_male_man_career-256.png">
    </div>
    <div class="clicable-icon" (click)="getValue('villain')" [ngClass]="{'active' : clickedValue === 'villain'}">
        <img src="https://cdn4.iconfinder.com/data/icons/diversity-v2-0-volume-02/64/bandit-asian-male-cowboy-256.png">
    </div>
    <div class="clicable-icon" (click)="getValue('doctor')" [ngClass]="{'active' : clickedValue === 'doctor'}">
        <img
            src="https://cdn2.iconfinder.com/data/icons/health-care-and-first-responders/64/surgeon-asian-male-coronavirus-256.png">
    </div>
</div>