.layout-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.layout-sidenav {
    height: 100%;
    min-width: 260px;
    border: 0px;
    background-color: #fafafa;
    box-shadow: 0 2px 4px -1px;
}
