<div style="margin: 50px auto; width: 300px; text-align: center;">
    <form novalidate id="loginF" #f="ngForm">
        <h1 style="text-align: center;">Login</h1>

        <mat-form-field class="example-full-width">
            <input type="text" name="username" [ngModel]="loginForm.username" matInput
                placeholder="Zadejte uzivatelske jmeno" required #userNameCtrl="ngModel">
            <mat-error *ngIf="userNameCtrl.hasError('required')">Toto pole je povinne</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input type="password" name="password" [ngModel]="loginForm.password" 
            matInput placeholder="Zadejte heslo"
            required #passwordCtrl="ngModel">
            <mat-error *ngIf="passwordCtrl.hasError('required')">Toto pole je povinne</mat-error>
        </mat-form-field>

        <div>
            <button color="primary" mat-raised-button (click)="login(f)" form="loginF">Login</button>
        </div>
    </form>
</div>
